.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.product-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 250px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image {
  width: 100%;
  height: auto;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}


.product-card:hover {
  transform: translateY(-10px);  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.product-card:hover {
  background-color: #f1f1f1;
}
